.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 164px;
  padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
}
